table.admin_superstar
{
  margin-top: 1em;
  width: 100%;
}

table.admin_superstar caption
{
	width: 100%;
	font-weight: bold;
	background-color: #B4B5D6;
	border: solid 1px black;
  padding: 0;
}

table.admin_superstar td.heading div
{
  border: solid 1px black;
  background-color: #BBC;
}

table.admin_superstar td.rank
{
  text-align: center;
}

table.admin_superstar td.name
{
  text-align: center;
}

table.admin_superstar td.attendedTime
{
  text-align: center;
}

table.admin_superstar td.flakedTime
{
  text-align: center;
}

table.admin_superstar td.totalTime
{
  text-align: center;
}

table.admin_superstar td.
{
  text-align: center;
}

table.admin_superstar p.left
{
	width: 40%;
	float: left;
}

table.admin_superstar p.right
{
	margin-left: 15px;
	float: right;
}