.profile-header {
	background-color: rgb(216, 216, 216);
	display: inline-block;
	width: 100%;
}

.main-profile {
	display: inline-block;
	margin-top: 20px;
	width: 100%;
}

.profile-picture img{
	width: 200px;
	height: auto;
}

.profile-picture {
	padding: 20px;
}

.profile-info {
	float: left;
	padding: 20px;
}

.basic-info {
	width: 440px;
	margin-top: 20px;
}

.profile-left {
	width: 720px;
	float: left;
}

.profile-right {
	width: 230px;
	float: right;
}

table.basic-info td{
	font-size: 14px;
}

table.basic-info td.key{
	color: gray;
	font-weight: normal;
}

.profile-content {
	padding-left: 20px;
	padding-right: 20px;
}

.position {
	margin-top: 0px;
}

.profile-header, .main-profile{
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.15),-1px 0 0 rgba(0,0,0,0.03),1px 0 0 rgba(0,0,0,0.03),0 1px 0 rgba(0,0,0,0.12);
	-moz-box-shadow: 0 1px 1px rgba(0,0,0,0.15),-1px 0 0 rgba(0,0,0,0.03),1px 0 0 rgba(0,0,0,0.03),0 1px 0 rgba(0,0,0,0.12);
	box-shadow: 0 1px 1px rgba(0,0,0,0.15),-1px 0 0 rgba(0,0,0,0.03),1px 0 0 rgba(0,0,0,0.03),0 1px 0 rgba(0,0,0,0.12);
}

#requirements table {
	width: 99%;
}

#requirements td.hours {
	width: 75px;
}