.profile-header {
	background-color: rgb(216, 216, 216);
	display: inline-block;
	width: 100%;
}

.profile-picture img{
	width: 200px;
	height: auto;
}

.profile-picture {
	padding: 20px;
}

.profile-info {
	float: left;
	padding: 20px;
}

.basic-info {
	margin-top: 20px;
}

.profile-left {
	width: 720px;
	float: left;
}

.profile-right {
	width: 240px;
	float: right;
}

table.basic-info td{
	font-size: 14px;
}

table.basic-info td.key{
	color: gray;
	font-weight: normal;
}