    <h1 class="success"><?php print _("Upgraded Gallery Core Module successfully.") ?></h1>

    <p>
      <?php print _("We've successfully upgraded the Gallery Core Module.") ?>
    </p>

    <?php if ($templateData['isConfigWriteable'] && $templateData['canChmod']): ?>
    <p>
      <?php print _("<b>Reminder</b>: Now check the permissions on config.php and make sure it is not globally writeable.") ?>
    </p>
    <div class="go">
      <span class="goToNext">
	<a href="<?php generateUrl('index.php?step=' . $stepNumber) ?>">
	  <?php print _('Recheck config.php') ?>
	</a>
      </span>
    </div>
    <?php endif; ?>
