/* -- Main layout definitions ------------- */

body.gallery {
	font-family: "Lucida Grande", Verdana, Arial, sans-serif;
	font-size: small;
	margin: 1.5em;
	background-color: #fff;
	color: #333;
	text-align: center;
}


.gallery-album {
        width: 46%; /* Change to 96% if you want 1 Album per line */
	padding-right: 3%;
}



a {
	color: #38c;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}


hr {
	color: #fff;
	height: 1px;
	border: none;
	border-bottom: 1px solid #ccc;
	margin: 0;
	padding: 0;
	clear: both;
}

.clear {
	clear: both;
}

.breadcrumb {
	float: right;
	color: #999;
	font-size: 0.9em;
}

.content {
	clear: both;
	margin: 0 auto;
	text-align: left;
}

.footer {
	font-size: 0.8em;
	color: #999;
	margin-top: 3em;
}

.gallery h2 {
	clear: both;
	margin: 1.5em 0;
	padding-bottom: 0.2em;
	border-bottom: 1px solid #ccc;
	font-size: 1.4em;
}


/* -- Gallery thumbnails ------------------ */

.gallery-thumb {
	margin: 5px;
	float: left;
	text-align: center;
}

.gallery-thumb img {
	background: #eee;
	border: 1px solid #ccc;
	padding: 7px;
	margin: 1px;
	-moz-border-radius: 5px;
}

.gallery-thumb a img {
	border-color: #ccc;
}

.gallery-thumb a:hover img {
	border-width: 2px;
	border-color: #38c;
	margin: 0;
	-moz-border-radius: 7px;
}


/* -- Gallery Album listing --------------- */

.gallery-albums {
	clear: both;
}

.gallery-albums h4 {
	margin: 10px 0 0 0;
	font-size: 1.1em;
}

.gallery-albums .gallery-thumb {
	margin-right: 5px !important;
}

.gallery-album {
	display: block;
	float: left;
	overflow: hidden;
}

.gallery-album p {
	font-size: 1em;
}

.gallery-album .meta {
	margin-top: 3px;
	color: #999;
	font-size: 0.9em;
}


/* -- Gallery Items ----------------------- */

.gallery-items {
	margin: 0;
	clear: both;
}


/* -- Gallery Photo (detail page) --------- */

.gallery-photo {
	text-align: center;
}

.gallery-photo img {
	background: #eee;
	border: 1px solid #ccc;
	padding: 7px;
	-moz-border-radius: 5px;
}


/* -- Navigator --------------------------- */

.block-core-Navigator {
	float: right;
	margin: 1.5em 0;
	font-size: 0.9em;
	color: #999;
}

.block-core-Navigator .current,
.block-core-Navigator .first-and-previous,
.block-core-Navigator .next-and-last {
	display: inline;
}

.block-core-Navigator .current {
	margin: 0 0.5em;
}


/* -- ExifInfo ---------------------------- */

.block-exif-ExifInfo div {
	font-size: 0.8em;
	color: #999;
	margin: 1em 0;
}

table.gbDataTable {
	width: 100%;
	font-size: 0.8em;
	margin: 1.5em 0;
}

table.gbDataTable .gbOdd {
	font-weight: bold;
}

