    <h1><?php print _('Create a config file') ?></h1>

    <p class="error">
      <?php if (!empty($templateData['error'])) print $templateData['error'] ?>
    </p>

    <p>
      <?php printf(_("Now we need to write out all the information you provided into a file called <b>config.php</b> in your <b>%s</b> directory.  This is a very important file that gives Gallery all the information that it needs to operate.  After we create it, you can read through this file and make changes to it if you want."), $templateData['galleryDir']) ?>
    </p>

    <p>
      <?php printf(_("Before we can proceed, you should create a file in your <b>%s</b> directory called <i>config.php</i>.  You must make sure that the webserver will be able to write to it.  If you're on unix, try doing <i>chmod 666 config.php</i>.  On Windows, you shouldn't have to do anything special.  When you've created this file and set the permissions properly, you can proceed.  If there's a problem, we'll tell you what to fix."), $templateData['galleryDir']) ?>
    </p>

  <div class="go">
    <span class="goToNext">
      <a href="<?php printf('%s?step=%s', INDEX_PHP, $currentStep->getStepNumber()) ?>">
	<?php print _('Create config file') ?>
      </a>
    </span>
  </div>
