    <h1 class="success"><?php print _("Installed Gallery Core successfully") ?></h1>

    <p>
      <?php print _("Congratulations, we've successfully installed the Gallery framework.  However, most of the really cool features from Gallery come from additional modules that you can install and configure.  The next step will take you through the process of selecting modules to install so that you can tune Gallery to do exactly what you want."); ?>
    </p>
    </h2>
    <div>
      <?php print $templateData['stackTrace']; ?>
    </div>
    <?php endif; ?>
