    <?php if (isset($templateData['stackTrace'])): ?>
    <div class="stack_trace">
      <?php print $templateData['stackTrace']; ?>
    </div><br/>
    <?php endif; ?>

    <h1><?php print _("Install Other Modules") ?></h1>

    <?php if (isset($templateData['activated'])): ?>
    <?php foreach ($templateData['activated'] as $moduleId => $moduleName): ?>
    <h2 class="success">
      <?php printf(_("Activated the <i>%s</i> module successfully"), $moduleName) ?>
    </h2>
    <?php endforeach; ?>
    <?php endif; ?>

    <?php if (isset($templateData['needsConfiguration'])): ?>
    <?php foreach ($templateData['needsConfiguration'] as $moduleId => $moduleName): ?>
    <h2 class="warning">
      <?php printf(_("The <i>%s</i> module was installed, but needs configuration to be activated"), $moduleName) ?>
    </h2>
    <?php endforeach; ?>
    <p>
      <?php print _("After finishing this installation, login as Admin and browse to Site Admin. Go to the <i>Modules</i> view and configure the above listed modules."); ?>
    </p>
    <?php endif; ?>

    <?php if ($templateData['anyInstallable']): ?>
    <div class="go">
      <span class="goToNextL">
	<a href="<?php printf('%s?step=%s', INDEX_PHP, $currentStep->getStepNumber()) ?>">
	  <?php print _('Activate More Modules'); ?>
	</a>
      </span>
      <?php $nextStep = $stepNumber + 1 ?>
      <span class="goToNext">
	<a href="<?php printf('%s?step=%s', INDEX_PHP, $nextStep) ?>">
	  <?php printf(_('Continue to Step %d&raquo;'), $nextStep); ?>
	</a>
      </span>
    </div>
    <?php endif; ?>
